<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    
    <!--Header-->
    <header id ="header">
        <nav>
            <div class = "container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">To-do List</a>
                </div>
            </div>
        </nav>
    </header>
    <!--/Header-->

    <!--Main Site-->
        <main id="site-main">
            <div class="container">
                <div class="box-nav d-flex justify-between">
                    <div class="filter">
                        <a href="/"><i class="fas fa-angle-double-left"></i> All Tasks</a>
                    </div>
                </div>
                <div class="form-title text-center">
                    <h2 class="text-dark">New Task</h2>
                    <span class="text-light">Use the below form to create a new task.</span>
                </div>
                
                <!--form handling-->
                <form method="POST" id="update_user">
                    <div class="new_user">
                        <div class="form-group">
                            <label for="name" class="text-light">Name</label>
                            <input type="hidden" name="id" value="">
                            <input type="text" name="name" value="" placeholder="Enter your Name">
                        </div>
                        <div class="form-group">
                            <label for="Task" class="text-light">Task</label>
                            <input type="text" name="Task" value="" placeholder="Enter your Task">
                        </div>
                        <div class="form-group">
                            <label for="Status" class="text-light">Status</label>
                            <div class="radio inline">
                                <input type="radio" id="radio-4" name="Status" value="Done">
                                <label for="radio-4" class="radio-label">Done</label>
                            </div>
                            <div class="radio inline">
                                <input type="radio" id="radio-5" name="Status" value="Not Done">
                                <label for="radio-5" class="radio-label">Not Done</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn text-dark update">Save</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </main>
    <!--/Main Site-->

</body>
</html>